html {
	font-size: 20px;
}

::-moz-selection {
	background: #d50757;
	color: #fff;
}

::selection {
	background: #d50757;
	color: #fff;
}

body {
	background-color: #013544;
	color: #013544;
	font: 300 1rem/1.5 'Rubik', sans-serif;
}

input,
select,
textarea {
	font: 300 1em/1.5 'Rubik', sans-serif;
}

a:focus {
	outline: 1px dashed;
}

.site-content .post-edit-link {
	display: none;
}

.site-content a,
.site-content a:visited {
	border-bottom: 1px solid #00adad;
	color: #009a9a;
	text-decoration: none;
	transition: all .18s ease-out;
}

.site-content a:hover,
.site-content a:focus {
	border-bottom: 1px solid #013544;
	color: #013544;
	text-decoration: none;
}

.wp-block-image a,
.wp-block-image a:link,
.wp-block-image a:hover,
.wp-block-image a:focus,
#tix-attendees a,
#tix-attendees a:link,
#tix-attendees a:hover,
#tix-attendees a:focus {
	border-bottom: 0;
}

.site-info-network:focus {
	border: 1px dashed #fff;
	outline: none;
}

.page-navigation-container a {
	color: #013544;
}

.page-navigation-container a:hover,
.page-navigation-container a:focus {
	color: #d50757;
}

.mobile-only {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: none;
	font-weight: 500;
	line-height: 1.2;
}

strong,
b {
	font-weight: 500;
}

td,
th {
	background: #fff;
	border: 1px solid #d51e63;
	font-size: .8em;
	padding: 8px 10px;
}

th {
	background: #d51e62;
	color: #fff;
}

.tix-js,
.tix-has-dynamic-receipts {
	overflow: auto;
}

.tix-column-description {
	min-width: 200px;
}

.tix-row-coupon td {
	background: #fff;
}

.tix-attendee-list {
	align-content: start;
	align-items: start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

.tix-attendee-list::after {
	content: "";
	flex: auto;
}

#tix-attendees ul {
	padding: 0;
	margin: 0;
}

#tix .tix-ticket-form + p {
	display: none;
}

.tix-info {
	background: #23c675;
	border: 0;
	border-radius: 0;
}

.tix-error {
	background: #cb131f;
	border: 0;
	border-radius: 0;
	color: #fff;
}

.tix-notice {
	background: #efd94c;
	border: 0;
	border-radius: 0;
}

.tix-right input {
	margin: -3px 0;
}

a,
a:visited,
a:link {
	color: #009a9a;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #013544;
}

.wp-block-image .alignright,
.wp-block-image .alignleft {
	display: none;
}

@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}
	
	.wp-block-image .alignright,
	.wp-block-image .alignleft {
		display: block;
		width: 40%;
	}
}

figure {
	margin: .5em 0;
}

.custom-header {
	padding: 10px 0 0;
}

.main-navigation {
	max-width: 1200px;
}

#masthead {
	padding: 0 30px;
}

.site-main ul,
.site-main ol {
	list-style-position: outside;
	margin: 0 0 1.5em 0;
	padding: 0 0 0 1em;
	overflow: hidden;
	zoom: 1;
}

.site-main li {
	margin-bottom: .25em;
}

.site-main h2,
#content-widgets h2 {
	color: #d50757;
	font-weight: 300;
}

.site-main h3,
#content-widgets h3 {
	color: #d50757;
	font-weight: 300;
}

#masthead {
	background: #fff;
	padding: 0;
}

.site-header {
	padding: 30px;
}

.custom-header,
.menu,
.page-navigation-container {
	float: none;
	margin: 0 auto;
	max-width: 1200px;
}

.custom-header {
	padding: 10px 30px 0 30px;
	margin-bottom: -15px;
}

.site-content {
	background: #fff;
	padding: 30px;
}

.site-branding {
	position: relative;
}

.site-description {
	color: #d50757;
	font-size: 1.5rem;
	line-height: 1;
	margin: 0 0 70px;
}

.site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: .0625rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: .0625rem;
}

.custom-logo {
	height: 250px;
	width: 250px;
}

.custom-logo-link {
	position: relative;
	z-index: 55;
}

.menu {
	display: none;
}

.site-footer .menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 0;
}

@media (min-width: 840px) {
	.site-footer .menu {
		flex-direction: row;
	}
}

.site-footer h2,
.site-footer h3 {
	font-size: 1rem;
}

.site-footer .menu li {
	display: block;
}

.site-footer .menu li:last-child a {
	padding-right: 0;
}

.menu li a {
	display: block;
	background: none;
	color: #d3125a;
}

.menu li:hover > a,
.menu li.current_page_parent > a {
	color: #d3125a;
	background: none;
}

.page-navigation-container ul ul.sub-menu {
	float: none;
	position: static;
	width: 100%;
}

.page-navigation-container ul ul.sub-menu a {
	width: 100%;
	padding-left: 15%;
}

.page-navigation-container ul ul.sub-menu a::before {
	background: currentColor;
	content: " ";
	display: inline-block;
	height: 3px;
	left: 0;
	margin-top: -1px;
	position: absolute;
	top: 50%;
	width: 15px;
}

.menu-toggle {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: 0;
	width: 100%;
}

.page-navigation-container:not(.toggled-on) ul {
	display: none;
}

.page-navigation-container.toggled-on ul.menu {
	display: block;
	padding: 10px 30px;
}

@media (min-width: 768px) {
	.page-navigation-container:not(.toggled-on) ul {
		display: flex;
	}
	
	.page-navigation-container.toggled-on ul.menu {
		padding: 0;
	}
}

.page-navigation-container li {
	float: none;
}

.page-navigation-container li .dropdown-toggle {
	display: none;
}

.menu-item a {
	display: block;
	padding: .5rem 0;
	text-decoration: none;
	transition: all .1s ease;
}

@media (min-width: 840px) {
	.menu-item a {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.js .menu-toggle,
.js .dropdown-toggle {
	background: #009a9a;
	border: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	line-height: inherit;
	margin: 0 30px;
	padding: 10px 13px;
	position: static;
	text-transform: none;
	transition: all .25s;
	width: calc(100% - 60px);
}

.js .toggled-on .menu-toggle,
.js .toggled-on .dropdown-toggle {
	background: #013544;
}

#eu-cookie-law input,
#eu-cookie-law input:focus,
#eu-cookie-law input:hover {
	background: #009a9a !important;
	border: 0 !important;
	border-radius: 0 !important;
	color: #fff !important;
	cursor: pointer !important;
	font-family: inherit !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	line-height: inherit !important;
	padding: 10px 13px !important;
	text-transform: none !important;
	transition: all .25s;
}

#eu-cookie-law input:focus,
#eu-cookie-law input:hover {
	background: #013544 !important;
}

#content-widgets,
.content-area,
#secondary,
#colophon {
	margin: 0 auto;
	max-width: 704px;
	padding: 10px 0 0;
}

#colophon {
	padding: 10px 30px 0;
}

@media (min-width: 768px) {
	#content-widgets,
	.content-area,
	#secondary {
		padding: 10px 30px 0;
	}
}

#colophon {
	max-width: 1200px;
	position: relative;
}

#colophon,
#colophon a {
	color: #fff;
}

#colophon {
	padding-top: 25px;
}

/* Gutenberg Features */

.alignfull,
.alignwide {
	left: 50%;
	max-width: none;
	position: relative;
	transform: translate(-50%);
	width: 100vw;
}

.alignwide {
	width: 100vw;
	max-width: 1140px;
}

#footer-widgets {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (min-width: 460px) {
	#footer-widgets {
		flex-direction: row;
	}
}

#footer-widgets > div,
#footer-widgets > section {
	flex: 1 1 auto;
	position: relative;
	text-align: center;
	z-index: 2;
}

@media (min-width: 460px) {
	#footer-widgets > div:first-child,
	#footer-widgets > section:first-child {
		text-align: left;
	}
	
	#footer-widgets > div:last-child,
	#footer-widgets > section:last-child {
		text-align: right;
	}
}

.site-footer::after {
	background: rgba(255, 255, 255, .05);
	bottom: -860px;
	content: "";
	display: none;
	height: 800px;
	left: 0;
	position: absolute;
	transform-origin: 0;
	transform: skew(0, -6deg);
	width: 100%;
	z-index: 0;
}

.make-white {
	filter: brightness(0) invert(1);
}

.footer-logo {
	height: auto;
	width: 150px;
}

#wccsp-container {
	background: #fff;
	padding-bottom: 30px;
}

.site-info-generator {
	display: none;
}

.site-info-network {
	background-color: #013544;
	background-image: url(https://2019.stuttgart.wordcamp.org/files/2019/06/WordPress-logotype-white.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 60px;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 3.75rem;
	margin: -20px auto 20px;
	text-indent: -9999px;
	transition: all .1s ease;
	width: 3.75rem;
	z-index: 9999;
}

@media (min-width: 460px) {
	.site-info-network {
		left: 50%;
		margin: 0 0 0 -37.5px;
		position: absolute;
		top: 75px;
	}
}

.site-info-network:active,
.site-info-network:focus,
.site-info-network:hover {
	background-color: #0e3f4e;
}

.page-navigation-container ul li:hover > u {
	display: flex;
	flex-direction: column;
	width: 200px;
}

/* Workaround for bilingual content */
.site-main .en {
	display: block;
	font-style: italic;
	margin-left: 50px;
	opacity: 1;
}


/* Organizers Grid @TODO */
.wcorg-organizers {
	display: grid;
	grid-template-columns: 33fr 33fr 33fr
}

.wcorg-organizer h2 {
	font-size: 1.2em;
}

.single .entry-title {
    margin-bottom: .5em;
}

.blog .entry-title {
	margin-bottom: .25em;
}

.blog .comments-link {
	display: none;
}

.blog .site-main .post {
	border-top: 1px solid #dcdddf;
    padding-top: 1.5em;
    margin-top: 3em;
}

.blog .site-main .post:first-of-type {
	border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.entry-meta {
    opacity: .7;
}

.entry-meta a,
.entry-meta a:visited,
.entry-meta a:link {
    color: #013544;
	border-bottom: 1px solid transparent;
}

.entry-meta a:hover,
.entry-meta a:focus {
	border-bottom: 1px solid #013544;
}

.comments-area {
    border-top: 1px solid #dcdddf;
    padding-top: 2em;
}

.tix-ticket-form input[type="text"],
.tix-ticket-form input[type="email"],
.tix-ticket-form input[type="url"],
.tix-ticket-form textarea,
.tix-private-form input[type="text"],
.tix-private-form input[type="email"],
.tix-private-form input[type="url"],
.tix-private-form textarea,
.tix-attendee-form input[type="text"],
.tix-attendee-form input[type="email"],
.tix-attendee-form input[type="url"],
.tix-attendee-form textarea,
.tix-receipt-form input[type="text"],
.tix-receipt-form input[type="email"],
.tix-receipt-form input[type="url"],
.tix-receipt-form textarea {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 5px 10px;
	border: 0;
	border-bottom: 1px solid #ababab;
    background: #eee;
	border-radius: 0;
	outline: none !important;
	transition: all .25s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border-bottom: 3px solid #d51e62;
	padding-bottom: 3px;
}

input:focus,
button:focus {
	outline: 1px dashed;
}

button,
.entry-content input[type="submit"],
.page-content input[type="submit"],
#tix .tix-submit .tix-checkout-button,
a.wp-block-button__link,
a.wp-block-button__link:link,
a.wp-block-button__link:visited,
a.more-link,
a.more-link:link,
a.more-link:visited {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #009a9a;
	border-radius: 0;
	border: 0;
	color: #fff;
	font-weight: 600;
	padding: 10px 13px;
	transition: all .25s;
}

button:hover,
button:focus,
.entry-content input[type="submit"]:hover,
.entry-content input[type="submit"]:focus,
.page-content input[type="submit"]:hover,
.page-content input[type="submit"]:focus,
#tix .tix-submit .tix-checkout-button:focus,
#tix .tix-submit .tix-checkout-button:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:hover,
a.more-link:focus,
a.more-link:hover {
	background: #013544;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.tix-required-star {
	color: #d51f62;
}

.menu li a {
	color: #084b5b;
}

.menu li.current-menu-item > a {
	color: #d3125a;
}

@media screen and (max-width: 767px) {
	.site-title a,
	.site-description {
		font-size: 22px;
		margin: 0 0 35px;
		text-align: center;
	}
	
	.custom-logo {
		margin: 0 auto;
		display: block;
	}
	
	.page-navigation-container ul ul {
		box-shadow: none;
		margin: 0;
		padding: 0;
	}
	
	.page-navigation-container ul ul.sub-menu a {
		padding-left: 25px;
	}
	
	.main-navigation .menu {
		height: 0;
		opacity: 0;
		transition: all 1s;
	}
	
	.toggled-on.main-navigation .menu {
		height: auto;
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (min-width: 37.5em) {
	.js .menu-toggle, .js .dropdown-toggle {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}
	
	.site-branding::after {
		background: #d50757;
		bottom: 40px;
		content: "";
		display: block;
		height: 5px;
		left: 128px;
		position: absolute;
		right: 0;
	}
	
	.site-branding {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	.page-navigation-container ul ul {
		background-color: #fff;
		padding: 10px 8px 8px 8px;
	}
	
	.page-navigation-container ul ul.sub-menu {
		position: absolute;
		
	}
	
	.page-navigation-container ul {
		display: flex;
	}
	
	.menu li a {
		background: none;
		color: inherit;
	}
	
	.page-navigation-container {
		margin: 0 auto;
		max-width: 1200px;
		padding: 0 30px;
		position: relative;
	}
	
	.menu-hauptmenue-container {
		margin-top: -101px;
		padding-left: 300px;
		width: 100%;
	}
	
	.menu-hauptmenue-container > ul {
		display: flex !important;
		justify-content: space-between;
		width: 100%;
	}
	
	.menu-hauptmenue-container > ul > li:last-child a {
		padding-right: 0;
		margin-right: 0;
	}
	
	.page-navigation-container ul ul.sub-menu a {
		padding-left: 10px;
	}
	
	.page-navigation-container ul li:hover > ul,
	.page-navigation-container ul li.focus > ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		top: 2.5em;
		width: 210px;
	}
	
	.page-navigation-container ul li:hover > ul a,
	.page-navigation-container ul li.focus > ul a {
		color: #013544;
	}
	
	.page-navigation-container ul li:hover > ul li.current-menu-item a {
		color: #d3125a;
	}
	
	.page-navigation-container ul li:hover > ul a:hover,
	.page-navigation-container ul li.focus > ul a:focus {
		color: #d3125a;
	}
	
	.page-navigation-container ul ul.sub-menu a::before {
		content: none;
	}
}

@media screen and (min-width: 1000px) {
	.wp-block-image .alignright {
		margin-right: -248px;
		width: auto;
	}
	
	.wp-block-image .alignleft {
		margin-left: -248px;
		width: auto;
	}
	
	figure {
		margin: .25em 0 1.5em 0;
	}
	
	.entry-content .wp-block-image:first-of-type .alignleft,
	.entry-content .wp-block-image:first-of-type .alignright {
		margin-top: 1.5em;
	}
}


/* imprint page */

.page-slug-impressum a,
.page-slug-code-of-conduct a {
	word-break: break-all;
}
